LearningSharedViewModel.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
LearningSharedViewModel.xcodeproj/project.xcworkspace/xcuserdata/developer.xcuserdatad/UserInterfaceState.xcuserstate
LearningSharedViewModel.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/xcschememanagement.plist
